# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# SSL certificates
packages/x402-server/server.cert
packages/x402-server/server.key
# Environment files
.env
.env.local
.env.production
broadcast/Deploy.s.sol/8453/
broadcast/
